node_modules

.cache
build
public/build
dev.db
tailwind.css

# in a real app you'd want to not commit the .env
# file as well, but since this is for a workshop
# we're going to keep them around.
# .env
