{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/base",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "commonjs": true,
    "es2022": true
  },
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error"
  }
}
